
@{
    ViewBag.Title = "Instrument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <h2>Instrument</h2>
    <div class="container">
        <div class="row">
            <h3>
                @ViewBag.name
            </h3>
            <div class="col-md-4">
                <img class="thumbnail" width="304" height="236" src="~/Content/Images/@ViewBag.image" />
            </div>
        <p>Select Instrument Type</p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick='$("#demo").text("@ViewBag.new1")' class="btn btn-default">New</button>
                <button type="button" onclick='$("#demo").text("@ViewBag.used")' class="btn btn-default">Used</button>
            </div>

            <p id="demo">$ Price</p>



        </div><!--/.row-->
        <br />
        <div class="row">
            <div class="alert alert-warning col-md-12" id="myAlert">
                <a href="#" onclick='$("#myAlert").alert("close")' class="close">&times;</a>
                <strong>FYI:</strong> Once the 18 months has been achieved, the client owns the instrument.
                If they return it at any time before 3 months there will be a $200 re-stocking fee.
                If they return it after 3 months they forfeit any equity in the instrument.
            </div>
        </div>

        @*<script>
                $(document).ready(function () {
                    $(".close").click(function () {
                        $("#myAlert").alert("close");
                    });
                });
            </script>*@




    </div>
</div>